MINIO_ENDPOINT=Your minio api endpoint
MINIO_PORT=Your minio api port
MINIO_ACCESS_KEY=Your minio access key
MINIO_SECRET_KEY=Your minio secret key
MINIO_MINIO_USE_SSL=true # if you use ssl true else false

MONGO_URI=mongodb://127.0.0.1/kastel

FILE_UPLOAD_LIMIT=25000000 # in bytes